






.login-area.bg{
    background-image: url(../../img/login-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}







.footer {
    text-align: center;
}


.footer .language ul li{
    display: inline-block;
}