*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size:14px;
    background: #eee;
}

body, h1, h2, h3, h4, ul, il, p{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    /* display: inline-block; */
}

a{
    display: inline-block;
    text-decoration: none;
}


.container{
    background: #fff;
    max-width: 1024px;
    margin:20px auto;
    border: 1px solid rgb(155, 189, 197);
}

.row{
    font-size: 0;
    display: block;
}



[class*="col-"], .col{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    /* === */
    /* border: 1px solid #000; */
    min-height: 20px;
}

.col-lg_5{
    width: 5%;
}

.col-lg-1{
    width: 10%;
}
.col-lg-1_6{
    width: 16.66666666666667%;
}

.col-lg-2{
    width: 20%;
}
.col-lg-2_5{
    width: 25%;
}

.col-lg-3{
    width: 30%;
}

.col-lg-3_3{
        width: 33.333333%;
    }

.col-lg-3_5{
        width: 35%;
    }

.col-lg-4{
    width:40%;
}

.col-lg-5{
    width: 50%;
}

.col-lg-5_5{
    width: 50%;
}

.col-lg-6{
    width: 60%;
}

.col-lg-7{
    width:70%; 
}

.col-lg-8{
    width: 80%;
}

.col-lg-9{
    width: 90%;
}

.col-lg-10{
    width: 100%;
}


@media (max-width:400px){

    .col-sm:after{
                content:"small type";
                font-size: 1rem;
            }

    .col-sm-1{
        width: 10%;
    }

    .col-sm-1_6{
    width: 16.66666666666667%;
}


    .col-sm-2_5{
        width: 25%;
    }

    .col-sm-3{
        width: 30%;
    }
    .col-sm-3_3{
        width: 33.333333%;
    }

    .col-sm-4{
        width:40%;
    }

    .col-sm-5{
        width: 50%;
    }

    .col-sm-6{
        width: 60%;
    }

    .col-sm-7{
        width:70%; 
    }

    .col-sm-8{
        width: 80%;
    }

    .col-sm-9{
        width: 90%;
    }

    .col-sm-10{
        width: 100%;
    }
        
}


.header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mian-wrapper, .header{
    margin-top: 20px;
    padding: 30px;
}

.fr{
    text-align: right;
}


.mfr{
    border-right: 3px solid rgb(233, 224, 224);
}

.footer{
    text-align: center;
}