.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
{
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    border:1px solid #ccc;
}

.nav{
    background: #555;
}

.nav a{
    display: inline-block;
    padding: 6px 12px;
    color: #eee;
}

.first-screen .top{
    padding-top: 30px;
    padding-bottom: 30px;
}

#logo{
    background: #000;
    display: inline-block;
    background-image: url(../img/mi-logo.png);
    background-size: cover;
    width: 60px;
    height: 60px;

}

.nav-list{
    padding: 10px;
}

.nav-list li{
    display: inline-block;
    padding: 10px;
}

/* ===========search============ */

#search-area{
    margin-top: 10px;
    font-size: 0;
    position: relative;
}

#sec, #btn{
    display: inline-block;
    font-size: .7rem;
    padding: 12px;
    border: 1px solid rgb(134, 125, 125);
    line-height: 1.1;
}

#sec{
    outline: 0;  
}

.btn{
    border-left: 0;
}

#sec:focus{
    border-color: rgb(204, 211, 172);
}

#search-area .rec-list{
    position: absolute;
    top: 10px;
    left: 75px;
}

.rec {
    display: inline-block;
    font-size: .4rem;
    background: #ccc;
    margin-left: 5px;

}

/* ====================== */

.main-promo{
    background-image: url(../img/first-creen.jpg);
    background-size: cover;
    background-position: center top;
}

.cat-list{
    background: #ccc;
}

.cat-list li{
    padding:10px 20px;
}

.cat-list li:hover{
    background: #000;
}

/* ======================== */

.type-card{
    margin-top: 10px;
    font-size: 0;
}

.img-card{
    float: right;
    background-image: url(../img/type1.jpg);
    background-size: cover;
    background-position: center top;
    height: 170px;
    width: 95%;
    clear: both;
}

.type-card .col-10{
    font-size: 0;
}

