/* 微博信息卡片 */

.weibo-item {
    margin-bottom: 15px;
}

.weibo-item .user-poptip img {
    min-height: 100%;
    min-width: 100%;
}

.weibo-item .info-head .userinfo {}

.weibo-item .info-head .userinfo .username {
    font-weight: bold;
    font-size: 1.1rem;
}

.detail-text,
.detail-thumbnail-items {
    margin-top: 10px;
}

.weibo-item .weibo-time {
    color: #808080;
    font-size: 0.8rem;
}

.detail-text {
    font-size: 1rem;
}

.detail-thumbnail-items {}

/* .weibo-card-item底部 */

.weibo-operation-items {
    border-top: 1px solid #e1e1e1;
}

.weibo-operation-items {
    margin-top: 15px;
}

.operation-item {
    padding: 10px 0;
}

.operation-item .tooltip {
    border-right: 1px solid #e1e1e1;
    padding: 0 30px;
    width: 100%;
}


/* 头像缩略图 */

.user-portrait {
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}

.user-portrait {
    height: 54px;
    width: 54px;
}

.user-portrait img {
    min-height: 100%;
}