.first-screen{
    height: 640px;
    background-image: url(../img/banner.jpg);
    -webkit-background-size: contain;
    background-size: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
}

.nav{
   padding-top: 30px;
}


.nav .left{
    width: 30%;
}

.center {
    margin-top:80px; 
    text-align: center;
 
}

.nav .right{
    width: 70%;
     text-align: right
}



.logo , .location{
    display: inline-block;
    
    vertical-align: middle;
}

.icon-location, .name{
    position: relative;
} 





.search-area {
    max-width: 780px;
    margin: 0 auto;
    text-align: left;
}

.nav a,
.title-area h1,
.title-area span{
    color: #fff;
}

.search-area .type {
    display: inline-block;
}

.search-area .type {
    font-size: 14px;
    padding-left: 0;
}

.search-area .type > * {
    color: rgba(255, 255, 255, .4);
    padding: 5px 5px 15px 0;
    text-align: left;
    display: inline-block;
    cursor: pointer;
}

h1{
    margin: 10px;
    font-size: 65px;
}

.title span{
    font-size: 25px;
}




 .search-area .search,
 .search-area .btn{
    
    padding: 21px 30px;
    border: 0;
    
    line-height: 1.1;
   

}
.search-area .btn{
    background: #00b86b;
    color: #ccc;
    width: 20%;
}
.search-area .search{
    width: 80%;
}




