.nav-global{
    background: #333;
    color:#ccc;
}

.nav-global a{
    color: inherit;
    padding: 6px;
}

.nav-global a:first-child{
    padding-left: 0px;
}

.nav-global a:last-child{
    padding-right: 0px;
}

.fr{
    text-align: right;
}







