/* 全局样式开始 */
*{
    box-sizing: content-box;
}

body{
    margin: 0;
}
.row{
    font-size: 0;
}
.col{
    display: inline-block;
    font-size: 15px;
}

.container{
    margin: 0 auto;
    max-width: 1226px;
}

/* 全局样式结束 */



.col:nth-child(odd){
    background: rgba(0,0,0.3);
}
.col:nth-child(even){
    background: rgba(0,0,0.5);
}
.left, .right{
    width: 50%;
}
.right{
    text-align: right;
}

.left a:first-child{
    margin-left:0;
}
.nav{
    background: rgba(0,0,0,.8);
    height: 40px;
}



.container a{
    text-decoration: none;
    color: #b0b0b0;
    font-size: 10px;
}

.sep{
    display: inline-block;
    padding: 10px 6px;  
}

.nav a:hover{
    background: #ccc;
    color: #000;
}