<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="test">
        <input type="text" v-model="name">
        <input type="text" v-model="child.child.name">
    </div>
    <div class="root">
        <div class="row">
            <div class="col sidebar">
                <div @click="memoItem(item)" v-for="item in memoList"  class="sidebar-item">{{item.title}} <button @click="remove(memoList, item.id)">删除</button></div>
                <button @click="add()">+</button>
            </div>
            <div class="col main">
                <div v-if="current" class="editor">
                    <input v-model="current.title"  type="text" placeholder="标题">
                    <textarea v-model="current.content"  placeholder="内容"></textarea>
                    <button @click="current=null">关闭</button>
                </div>
                <div v-else >请选择一天备忘录或 <button @click="add()">添加一条</button> </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/index.js"></script>
</html>