.firsh-screen{
    background-image: url(img/);
      height: 640px;
    background-image: url(../img/banner.jpg);
    -webkit-background-size: contain;
    background-size: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
}


.center{
    text-align: center;
}

.search-area {
    max-width: 780px;
    margin: 0 auto;
    text-align: left;
}

 .search-area .search,
 .search-area .btn{

    padding: 21px 30px;
    border: 0;
    line-height: 1.1;
}

.search-area .btn{
    background: #00b86b;
    color: #ccc;
    width: 20%;
}

.search-area .search{
    width: 80%;
}

