.first-screen li{
   padding: 10px;
   
}

.card-area li{
    display: inline-block;
    padding: 2px;
}

.first-screen , .promotion-area .box-bd{
    margin-top: 20px;
}

.first-screen .type-list li:hover{
    background: #ff6700;
}

