
.nav{
    background: rgb(63, 55, 55);
    
}

 .left, .right{
    width: 50%;
}
.nav .right{
    text-align: right;
}
.nav .sep{
    color: rgb(77, 67, 67);
}
.nav a{
    color: rgb(122, 114, 114);
    display: inline-block;
    padding: 12px 4px;
}
.nav a:hover{
    
    color: #fff;
}
.nav a:first-child{
    padding-left: 0;
}
.nav a:last-child{
    padding-right: 0;
}