<div class="row nav-page">
    <div class="container">
        <div class="col-lg-2 logo-area">
            <div class="row">
                <div class="col-lg-3 logo">
                    <a href="#">
                        <img src="img/mi-logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-7">
                    <img src="img/nav-page-gif.gif" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5_5 link-group">
            <a href="#">CSGO</a>
            <a href="#">DOTA2</a>
            <a href="#">H1Z1</a>
            <a href="#">GTA5</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
        </div>
        <div class="col-lg-2_5">
            <form action="" class="row search-area">
                <input class="col-lg-8 sec" type="search" name="" id="">
                <button class="col-lg-2 btn" type="submit">搜</button>
                <div class="col hot-words">
                    <a href="#">Item</a>
                    <a href="#">Item</a>
                </div>
            </form>
        </div>
    </div>
</div>