<div class="row nav-page">
    <div class="container">
        <div class="col-lg-2 logo">
            <a href="#">
                <img src="" alt="">
            </a>
        </div>
        <div class="col-lg-6 link-group">
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
        </div>
        <div class="col-lg-2">
            <form action="" class="row search-area">
                <input class="col-lg-7" type="search" name="" id="">
                <button class="col-lg-3" type="submit">搜索</button>
            </form>
        </div>
    </div>
</div>