<div class="row nav-page">
    <div class="container">
        <div class="col-lg-2 logo">
            <a href="#">
                <img src="" alt="">
            </a>
        </div>
        <div class="col-lg-7 link-group">
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
            <a href="#">Item</a>
        </div>
        <div class="col-lg-3">
            <form action="" class="search-area">
                <input type="search" name="" id="">
                <button type="submit">搜索</button>
            </form>
        </div>
    </div>
</div>