.firsh-screen{
    background-image: url(img/);
      height: 640px;
    background-image: url(../img/banner.jpg);
    -webkit-background-size: contain;
    background-size: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
}



.nav .left{
    width: 30%;
}
.nav .right{
    width: 70%;
}

.nav a, h1{
    display: inline-block;
    padding: 8px;
    color: #eee;    
}


.nav .logo,
.nav .location{
    display: inline-block;
    vertical-align: middle;
}

.location{
    width: 60px;
    height: 30px;
    background: rgb(87, 61, 61);
}
    
h1{ 
    font-size: 50px;
    margin: 60px;
    margin-bottom: 20px;
}

.nav .logo{
    width: 130px;
    height: 60px;
    background: #000;
}

.center{
    text-align: center;
}

.search-area {
    max-width: 780px;
    margin: 0 auto;
    text-align: left;
}

.search-area .type {
    display: inline-block;
    font-size: 14px;
    padding-left: 0;
}



 .search-area .search,
 .search-area .btn{

    padding: 21px 30px;
    border: 0;
    line-height: 1.1;
}

.search-area .btn{
    background: #00b86b;
    color: #ccc;
    width: 20%;
}

.search-area .search{
    width: 80%;
}

