.row{
    font-size: 0;
    display: block;
}

.col{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

.right{
    text-align: right;
}