<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asam-nav-gaobal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/component/nav-global.css">
</head>
<body>
    <div class="banner">
        <div class="header">
            <div class="header-container">
                <div class="nav">
                    <div class="logo">
                        <a  href="#">Asam</a>
                    </div>
                    <div class="row search-nav">
                        <form action="">
                            <input class="sec col-lg-9" type="search" name="" id="" placeholder="开始搜索">
                            <button class="sub col-lg-3" type="submit">搜索</button>
                        </form>
                    </div>           
                    <div class="nav-page">
                        <a href="#">首页</a>
                        <a href="#">工具</a>
                        <a href="#">仓库</a>
                        <a href="#">日志</a>
                        <a href="#">关于我</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="firsh-screen">
            <div class="container">
                <img src="http://placehold.it/1222x240/ccc" alt="">
            </div>
        </div>
    </div>
</body>
</html>